.cm-bidi-mark-RLM,
.cm-bidi-mark-LRM {
	--deg: ;
	--size: 0.2em;
	--color: ;
	background-image: linear-gradient(
		var(--deg),
		var(--color) 10%,
		transparent 10%,
		transparent 50%,
		var(--color) 50%,
		var(--color) 60%,
		transparent 60%,
		transparent 100%
	);
	background-size: var(--size) var(--size);

	cursor: default;
}

.cm-bidi-mark-RLM {
	--deg: 135deg;
	--color: var(--color-yellow);
}
.cm-bidi-mark-LRM {
	--deg: -135deg;
	--color: var(--color-pink);
}

.menu-item-RLM .menu-item-icon {
	color: var(--color-yellow);
}
.menu-item-LRM .menu-item-icon {
	color: var(--color-pink);
}
